INSTRUCCIONES DE EJECUCIÓN:

    1 ESTE PROYECTO ESTA DISEÑADO PARA SER EJECUTADO EN GOOGLE COLAB
    2 CARGAR EL CUADERNO DISPONIBLE EN SRC https://github.com/Gusjh09/proyectoiiprograii/tree/main/src
    3 USAR LAS BASES DISPONIBLES https://github.com/Gusjh09/proyectoiiprograii/tree/main/data_raw
    4 EJECUTAR EN ORDEN VERTICAL CADA CHUNK.






